In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\mrmhm\Desktop\Python\Datasets For Projects\Uncleaned_DS_jobs.csv")

# Handling `-1` In Columns

In [3]:
def correctMinusOne(df, cols):
    for col in cols:
        df.loc[(df[col] == '-1'), col] = np.nan

In [4]:
correctMinusOne(df, ['Headquarters', 'Size', 'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'])
df.loc[(df['Founded'] == -1), 'Founded'] = np.nan

# Drop Duplicates

In [5]:
df.drop_duplicates()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968.0,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),NaN
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981.0,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),NaN
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWeâ€™re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,NaN
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,NaN,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),NaN
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976.0,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       641 non-null    object
 8   Size               645 non-null    object
 9   Founded            554 non-null    float64
 10  Type of ownership  645 non-null    object
 11  Industry           601 non-null    object
 12  Sector             601 non-null    object
 13  Revenue            645 non-null    object
 14  Competitors        171 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 78.9+ KB

# Columns Evaluation

#### Working on `Salary Estimate` Column

In [7]:
import re
def extractSalary(salary_string):
    pattern = r'\$(\d+)K-\$(\d+)K'
    match = re.search(pattern, salary_string)
    if match:
        min_salary = int(match.group(1))
        max_salary = int(match.group(2))
        return min_salary, max_salary
    else:
        return None, None

In [8]:
df[["Min_Salary", "Max_Salary"]] = df['Salary Estimate'].apply(extractSalary).apply(pd.Series)

In [9]:
df.drop(columns=['Salary Estimate'], inplace = True)

#### Working on `Company Name` Column

In [10]:
def companyName(co_name):
    co_name = ''.join(filter(str.isalpha, co_name))
    return co_name

In [11]:
df['Company Name'] = df['Company Name'].apply(companyName).apply(pd.Series)

#### Extract State Code In `Location` Column

In [12]:
def extractLocation(loc):
    return loc.split(',')[0].strip()

In [13]:
df['Location'] = df['Location'].apply(extractLocation).apply(pd.Series)

#### Extract Company Size:

In [14]:
def extractSize(size):
    pattern = r'(\d+) to (\d+)'
    if isinstance(size, str):
        match = re.match(pattern, size)
        if match :
            min_size = int(match.group(1))
            max_size = int(match.group(2))
            return min_size, max_size
        else:
            return None, None

In [15]:
df[['Min_Size', 'Max_Size']] = df['Size'].apply(extractSize).apply(pd.Series)

#### Categorization on `Revenue` Column

In [16]:
df['Revenue'].value_counts()

Revenue
Unknown / Non-Applicable            213
$100 to $500 million (USD)           94
$10+ billion (USD)                   63
$2 to $5 billion (USD)               45
$10 to $25 million (USD)             41
$1 to $2 billion (USD)               36
$25 to $50 million (USD)             36
$50 to $100 million (USD)            31
$1 to $5 million (USD)               31
$500 million to $1 billion (USD)     19
$5 to $10 million (USD)              14
Less than $1 million (USD)           14
$5 to $10 billion (USD)               8
Name: count, dtype: int64

In [17]:
def group_categories(revenue):
    if isinstance(revenue, str):
        if revenue == 'Unknown / Non-Applicable':
            return 'Unknown / Non-Applicable'
        elif 'billion' in revenue:
            return 'High Revenue'
        elif 'million' in revenue:
            return 'Medium Revenue'
        elif 'less than' in revenue:
            return 'Low Revenue'
        else:
            return revenue

In [18]:
df['Revenue'] = df['Revenue'].apply(group_categories).apply(pd.Series)

In [19]:
df['Revenue'].value_counts()

Revenue
Medium Revenue              261
Unknown / Non-Applicable    213
High Revenue                171
Name: count, dtype: int64

In [20]:
df.head(5)

,index,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min_Salary,Max_Salary,Min_Size,Max_Size
0,0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,"New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,1001.0,5000.0
1,1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,Chantilly,"Herndon, VA",5001 to 10000 employees,1968.0,Company - Public,Research & Development,Business Services,High Revenue,NaN,137,171,5001.0,10000.0
2,2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,AnalysisGroup,Boston,"Boston, MA",1001 to 5000 employees,1981.0,Private Practice / Firm,Consulting,Business Services,Medium Revenue,NaN,137,171,1001.0,5000.0
3,3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,Newton,"Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,Medium Revenue,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,501.0,1000.0
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,AffinitySolutions,New York,"New York, NY",51 to 200 employees,1998.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,51.0,200.0

___________________________

#### `Rating` Column

In [21]:
bin_edges = [-2, 0, 2, 3, 4, 5]  
bin_labels = ['Very Poor', 'Poor', 'Fair', 'Good', 'Excellent']  # Define bin labels

df['Rating'] = pd.cut(df['Rating'], bins=bin_edges, labels=bin_labels)

In [22]:
df['Rating'].value_counts()

Rating
Good         352
Excellent    225
Very Poor     50
Fair          44
Poor           1
Name: count, dtype: int64

____________________________________________

#### `Type of ownership` Column

In [23]:
df['Type of ownership'].value_counts()

Type of ownership
Company - Private                 397
Company - Public                  153
Nonprofit Organization             36
Subsidiary or Business Segment     28
Government                         10
Other Organization                  5
Private Practice / Firm             4
Unknown                             4
College / University                3
Self-employed                       2
Contract                            2
Hospital                            1
Name: count, dtype: int64

In [24]:
df['Type of ownership'].isna().value_counts()

Type of ownership
False    645
True      27
Name: count, dtype: int64

In [25]:
df['Type of ownership'].fillna('Other', inplace = True)

In [26]:
def ownership(ownership):
    if "Company" in ownership:
        return 'Corporate'
    elif "Nonprofit" in ownership:
        return 'Non-Profit'
    elif "Government" in ownership :
        return 'Goverment'
    else:
        return 'Other'

In [27]:
df['Type of ownership'] = df['Type of ownership'].apply(ownership).apply(pd.Series)

In [28]:
df['Type of ownership'].value_counts()

Type of ownership
Corporate     550
Other          76
Non-Profit     36
Goverment      10
Name: count, dtype: int64

#### `Industry` Columns

In [29]:
df['Industry'].value_counts()

Industry
Biotech & Pharmaceuticals                   66
IT Services                                 61
Computer Hardware & Software                57
Aerospace & Defense                         46
Enterprise Software & Network Solutions     43
Consulting                                  38
Staffing & Outsourcing                      36
Insurance Carriers                          28
Internet                                    27
Advertising & Marketing                     23
Health Care Services & Hospitals            21
Research & Development                      17
Federal Agencies                            16
Investment Banking & Asset Management       13
Banks & Credit Unions                        8
Lending                                      8
Energy                                       5
Consumer Products Manufacturing              5
Telecommunications Services                  5
Insurance Agencies & Brokerages              4
Food & Beverage Manufacturing                4
Chemical Manufacturing                       3
Electrical & Electronic Manufacturing        3
Colleges & Universities                      3
Other Retail Stores                          3
Architectural & Engineering Services         3
Utilities                                    3
Real Estate                                  3
Miscellaneous Manufacturing                  3
Accounting                                   3
Wholesale                                    3
Industrial Manufacturing                     3
Video Games                                  3
Travel Agencies                              2
Express Delivery Services                    2
Timber Operations                            2
Financial Transaction Processing             2
Construction                                 2
Health, Beauty, & Fitness                    2
Transportation Equipment Manufacturing       2
Oil & Gas Services                           2
Venture Capital & Private Equity             2
Consumer Electronics & Appliances Stores     2
Department, Clothing, & Shoe Stores          1
Publishing                                   1
Social Assistance                            1
Farm Support Services                        1
Logistics & Supply Chain                     1
Transportation Management                    1
State & Regional Agencies                    1
Hotels, Motels, & Resorts                    1
Food & Beverage Stores                       1
News Outlet                                  1
Telecommunications Manufacturing             1
Cable, Internet & Telephone Providers        1
Shipping                                     1
Rail                                         1
Name: count, dtype: int64

In [30]:
df['Industry'].isna().value_counts()

Industry
False    601
True      71
Name: count, dtype: int64

#### `Competitors` Column

In [31]:
df['Competitors'].value_counts()

Competitors
Roche, GlaxoSmithKline, Novartis                                  10
Los Alamos National Laboratory, Battelle, SRI International        6
Leidos, CACI International, Booz Allen Hamilton                    6
MIT Lincoln Laboratory, Lockheed Martin, Northrop Grumman          3
Battelle, General Atomics, SAIC                                    3
                                                                  ..
Pfizer, GlaxoSmithKline                                            1
Square, Amazon, Apple                                              1
Lumentum Operations, Keysight Technologies, O-Net Technologies     1
MKS Instruments, Pfeiffer Vacuum, Agilent Technologies             1
Genomic Health, Myriad Genetics, The Broad Institute               1
Name: count, Length: 107, dtype: int64

In [32]:
df['Competitors'].isna().value_counts()

Competitors
True     501
False    171
Name: count, dtype: int64

#### `Job Title` Column

In [33]:
df['Job Title'].value_counts()

Job Title
Data Scientist                                            337
Data Engineer                                              26
Senior Data Scientist                                      19
Machine Learning Engineer                                  16
Data Analyst                                               12
                                                         ...
Data Science Instructor                                     1
Business Data Analyst                                       1
Purification Scientist                                      1
Data Engineer, Enterprise Analytics                         1
AI/ML - Machine Learning Scientist, Siri Understanding      1
Name: count, Length: 172, dtype: int64

In [34]:
df['Job Title'].nunique()

172

# Drop unuseable columns

In [36]:
df.drop(columns= ['Headquarters', 'Competitors', 'Location', 'Company Name', 'Founded', 'Job Description', 'index' ,'Size'], inplace = True)

# fill NaNs

In [37]:
df.fillna(value={
    'Industry' : df['Industry'].fillna(method='bfill'),
    'Sector' : df['Sector'].fillna(method= 'bfill'),
    'Revenue' : df['Revenue'].mode()[0],
    'Min_Salary' : df['Min_Salary'].median(),
    'Max_Salary' : df['Max_Salary'].median(),
    'Min_Size' : df['Min_Size'].fillna(method = 'ffill'),
    'Max_Size' : df['Max_Size'].fillna(method = 'ffill')
    
}, inplace = True)

# Rename the Columns

In [38]:
df.rename(columns= {
    'Job Title' : 'Title',
    'Type of ownership' : 'Ownership_Type',
}, inplace = True)

# Save to CSV

In [39]:
df

,Title,Rating,Ownership_Type,Industry,Sector,Revenue,Min_Salary,Max_Salary,Min_Size,Max_Size
0,Sr Data Scientist,Good,Non-Profit,Insurance Carriers,Insurance,Unknown / Non-Applicable,137,171,1001.0,5000.0
1,Data Scientist,Excellent,Corporate,Research & Development,Business Services,High Revenue,137,171,5001.0,10000.0
2,Data Scientist,Good,Other,Consulting,Business Services,Medium Revenue,137,171,1001.0,5000.0
3,Data Scientist,Good,Corporate,Electrical & Electronic Manufacturing,Manufacturing,Medium Revenue,137,171,501.0,1000.0
4,Data Scientist,Fair,Corporate,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137,171,51.0,200.0
...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,Good,Corporate,Advertising & Marketing,Business Services,Unknown / Non-Applicable,105,167,1001.0,5000.0
668,Data Scientist,Very Poor,Other,Advertising & Marketing,Business Services,Medium Revenue,105,167,1001.0,5000.0
669,Data Scientist,Very Poor,Other,Advertising & Marketing,Business Services,Medium Revenue,105,167,1001.0,5000.0
670,Data Scientist,Excellent,Corporate,Advertising & Marketing,Business Services,Medium Revenue,105,167,1.0,50.0
671,Data Scientist,Fair,Corporate,Wholesale,Business Services,High Revenue,105,167,1001.0,5000.0

In [40]:
df.to_csv('preprocessed.csv', index = False)