In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\mrmhm\Downloads\Telegram Desktop\happiness_survey_data.csv")
df.head()

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
0,Afghanistan,2008,3.723590,0.450662,0.718114,50.500000
1,Afghanistan,2009,4.401778,0.552308,0.678896,50.799999
2,Afghanistan,2010,4.758381,0.539075,0.600127,51.099998
3,Afghanistan,2011,3.831719,0.521104,0.495901,51.400002
4,Afghanistan,2012,3.782938,0.520637,0.530935,51.700001

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2089 entries, 0 to 2088
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country_name                      2089 non-null   object
 1   year                              2089 non-null   int64
 2   happiness_score                   2089 non-null   float64
 3   social_support                    2076 non-null   float64
 4   freedom_to_make_life_choices      2057 non-null   float64
 5   healthy_life_expectancy_at_birth  2031 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 98.0+ KB

In [7]:
df.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of      country_name  year  happiness_score  social_support  \
0     Afghanistan  2008         3.723590        0.450662
1     Afghanistan  2009         4.401778        0.552308
2     Afghanistan  2010         4.758381        0.539075
3     Afghanistan  2011         3.831719        0.521104
4     Afghanistan  2012         3.782938        0.520637
...           ...   ...              ...             ...
2084     Zimbabwe  2017         3.638300        0.754147
2085     Zimbabwe  2018         3.616480        0.775388
2086     Zimbabwe  2019         2.693523        0.759162
2087     Zimbabwe  2020         3.159802        0.717243
2088     Zimbabwe  2021         3.154578        0.685151

      freedom_to_make_life_choices  healthy_life_expectancy_at_birth
0                         0.718114                         50.500000
1                         0.678896                         50.799999
2                         0.600127                         51.099998
3                         0.495901                         51.400002
4                         0.530935                         51.700001
...                            ...                               ...
2084                      0.752826                         52.150002
2085                      0.762675                         52.625000
2086                      0.631908                         53.099998
2087                      0.643303                         53.575001
2088                      0.667636                         54.049999

[2089 rows x 6 columns]>